body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 16%, rgba(8, 24, 131, 1) 33%, rgba(5, 103, 183, 1) 45%, rgba(1, 195, 244, 1) 63%, rgba(207, 246, 255, 1) 100%);
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    font-size: min(100px, 20dvh);
    padding: min(.5em, 100dvw-min(100px, 20dvh));
    padding-top: 25dvh;
    padding-bottom: .5em;
    margin: 0;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.03em;
    margin-inline: auto;
}

.formInpt {
    font-size: min(20px, 6dvw);
    border-radius: 0.5em;
    border: 0.15em solid white;
    background-color: black;
    color: white;
    padding: .5rem;
}

.formBtn{
    font-size: 20px;
    border-radius: 0.5rem;
    background-color: rgba(5, 103, 183, 1);
    color: white;
    border: 1px solid white;
    padding: 0.3rem;
    min-width: 6em;
    margin-right: .4em;
    margin-left: .4em;
}

.error{
    color: red;
    background-color: pink;
    border: 1px solid white;
    border-radius: .5rem;
    align-self: center;
    font-weight: 600;
    font-size: 20px;
    display: none;
    padding: .3rem;
}

.success{
    color: green;
    background-color: greenyellow;
    border: 1px solid white;
    border-radius: .5rem;
    align-self: center;
    font-weight: 600;
    font-size: 20px;
    display: none;
    padding: .3rem;
}

@media (min-height:900px) {
    h1 {
        font-size: 10dvh;
        margin-bottom: 10dvh;
    }

    .formInpt{
        font-size: 3dvh;
        margin: .5em;
    }
    
    .formBtn{
        font-size: 3dvh;
        min-width: 10em;
        margin-top: .4em;
        margin-bottom: .4em;
    }

    .error{
        font-size: 3dvh;
    }

    .success{
        font-size: 3dvh;
    }
}